
.searchInput input {
    padding: 12px 20px;
    font-size: 16px;
    background-color: rgb(var(--hr-color));
    max-width: 250px;
    font-family: Montserrat, serif;
    color: rgb(var(--text-color));
    border-radius: 15px;
}

@media (max-width: 500px) {
    .searchInput {
        width: 100%;
    }
    .searchInput input {
        max-width: unset;
        width:100%;
    }
}